*,:after,:before{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
:after,:before{
  text-decoration:inherit;
  vertical-align:inherit;
}
html{
  cursor:default;
  line-height:1.5;
  -moz-tab-size:4;
  -o-tab-size:4;
     tab-size:4;
  -webkit-tap-highlight-color:transparent;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  word-break:break-word;
}
body{
  margin:0;
}
h1{
  font-size:2em;
  margin:.67em 0;
}
dl dl,dl ol,dl ul,ol dl,ol ol,ol ul,ul dl,ul ol,ul ul{
  margin:0;
}
hr{
  height:0;
  overflow:visible;
}
main{
  display:block;
}
nav ol,nav ul{
  list-style:none;
  padding:0;
}
pre{
  font-family:monospace,monospace;
  font-size:1em;
}
a{
  background-color:transparent;
}
abbr[title]{
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}
b,strong{
  font-weight:bolder;
}
code,kbd,samp{
  font-family:monospace,monospace;
  font-size:1em;
}
small{
  font-size:80%;
}
audio,canvas,iframe,img,svg,video{
  vertical-align:middle;
}
iframe,img{
  border-style:none;
}
svg:not([fill]){
  fill:currentColor;
}
svg:not(:root){
  overflow:hidden;
}
table{
  border-collapse:collapse;
}
button,input,select{
  margin:0;
}
button{
  overflow:visible;
  text-transform:none;
}
[type=button],[type=reset],[type=submit],button{
  -webkit-appearance:button;
}
fieldset{
  border:1px solid #a0a0a0;
  padding:.35em .75em .625em;
}
input{
  overflow:visible;
}
legend{
  color:inherit;
  display:table;
  max-width:100%;
  white-space:normal;
}
progress{
  display:inline-block;
  vertical-align:baseline;
}
select{
  text-transform:none;
}
textarea{
  margin:0;
  overflow:auto;
  resize:vertical;
}
[type=checkbox],[type=radio]{
  padding:0;
}
[type=search]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{
  height:auto;
}
::-webkit-input-placeholder{
  color:inherit;
  opacity:.54;
}
::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
::-moz-focus-inner{
  border-style:none;
  padding:0;
}
:-moz-focusring{
  outline:1px dotted ButtonText;
}
:-moz-ui-invalid{
  box-shadow:none;
}
details,dialog{
  display:block;
}
dialog{
  background-color:#fff;
  border:solid;
  color:#000;
  height:-moz-fit-content;
  height:-webkit-fit-content;
  height:fit-content;
  left:0;
  margin:auto;
  padding:1em;
  position:absolute;
  right:0;
  width:-moz-fit-content;
  width:-webkit-fit-content;
  width:fit-content;
}

dialog:not([open]){
  display:none;
}
summary{
  display:list-item;
}
template{
  display:none;
}
[tabindex],a,area,button,input,label,select,summary,textarea{
  -ms-touch-action:manipulation;
  touch-action:manipulation;
}
[hidden]{
  display:none;
}
[aria-busy=true]{
  cursor:progress;
}
[aria-controls]{
  cursor:pointer;
}
[aria-disabled=true],[disabled]{
  cursor:not-allowed;
}
[aria-hidden=false][hidden]{
  display:initial;
}

[aria-hidden=false][hidden]:not(:focus){
  clip:rect(0, 0, 0, 0);
  position:absolute;
}
button,input,select,textarea{
  background-color:transparent;
  border:1px solid WindowFrame;
  color:inherit;
  font:inherit;
  letter-spacing:inherit;
  padding:.25em .375em;
}
select{
  -moz-appearance:none;
  -webkit-appearance:none;
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat 100%/1em;
  border-radius:0;
  padding-right:1em;
}
::-ms-expand{
  display:none;
}
:-ms-input-placeholder{
  color:rgba(0, 0, 0, .54);
}
html{
  font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
code,kbd,pre,samp{
  font-family:Menlo,Consolas,Roboto Mono,"Ubuntu Monospace",Noto Mono,Oxygen Mono,Liberation Mono,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.grid{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
}
.grid .cell{
  -webkit-box-flex:1;
      -ms-flex:1 0 auto;
          flex:1 0 auto;
}
.grid .cell.cell-1{
  -ms-flex-preferred-size:8.33333%;
      flex-basis:8.33333%;
  max-width:8.33333%;
}
.grid .cell.cell-2{
  -ms-flex-preferred-size:16.66667%;
      flex-basis:16.66667%;
  max-width:16.66667%;
}
.grid .cell.cell-3{
  -ms-flex-preferred-size:25%;
      flex-basis:25%;
  max-width:25%;
}
.grid .cell.cell-4{
  -ms-flex-preferred-size:33.33333%;
      flex-basis:33.33333%;
  max-width:33.33333%;
}
.grid .cell.cell-5{
  -ms-flex-preferred-size:41.66667%;
      flex-basis:41.66667%;
  max-width:41.66667%;
}
.grid .cell.cell-6{
  -ms-flex-preferred-size:50%;
      flex-basis:50%;
  max-width:50%;
}
.grid .cell.cell-7{
  -ms-flex-preferred-size:58.33333%;
      flex-basis:58.33333%;
  max-width:58.33333%;
}
.grid .cell.cell-8{
  -ms-flex-preferred-size:66.66667%;
      flex-basis:66.66667%;
  max-width:66.66667%;
}
.grid .cell.cell-9{
  -ms-flex-preferred-size:75%;
      flex-basis:75%;
  max-width:75%;
}
.grid .cell.cell-10{
  -ms-flex-preferred-size:83.33333%;
      flex-basis:83.33333%;
  max-width:83.33333%;
}
.grid .cell.cell-11{
  -ms-flex-preferred-size:91.66667%;
      flex-basis:91.66667%;
  max-width:91.66667%;
}
.grid .cell.cell-12{
  -ms-flex-preferred-size:100%;
      flex-basis:100%;
  max-width:100%;
}

a{
  color:#d6423b;
  text-decoration:none;
}

.strong,strong{
  font-weight:600;
}

.flip-x{
  -webkit-transform:rotateX(180deg);
          transform:rotateX(180deg);
}

.flip-x,.flip-y{
  display:inline-block;
}

.flip-y{
  -webkit-transform:rotateY(180deg);
          transform:rotateY(180deg);
}

.h-spacer{
  width:100%;
  height:8px;
}
.h-spacer.height-x2{
  height:16px;
}
.h-spacer.height-x3{
  height:24px;
}
.h-spacer.height-x4{
  height:32px;
}
.h-spacer.height-x5{
  height:40px;
}
.h-spacer.height-x6{
  height:48px;
}
.h-spacer.height-x7{
  height:56px;
}
.h-spacer.height-x8{
  height:64px;
}
.h-spacer.height-x9{
  height:72px;
}
.h-spacer.height-x10{
  height:80px;
}

.pad{
  padding:8px;
}

.pad-x2{
  padding:16px;
}

.pad-x3{
  padding:24px;
}

.pad-x4{
  padding:32px;
}

.pad-x5{
  padding:40px;
}

.pad-x6{
  padding:48px;
}

.pad-x7{
  padding:56px;
}

.pad-x8{
  padding:64px;
}

.pad-x9{
  padding:72px;
}

.pad-x10{
  padding:80px;
}

.h-pad{
  padding-left:8px;
  padding-right:8px;
}

.h-pad-x2{
  padding-left:16px;
  padding-right:16px;
}

.h-pad-x3{
  padding-left:24px;
  padding-right:24px;
}

.h-pad-x4{
  padding-left:32px;
  padding-right:32px;
}

.h-pad-x5{
  padding-left:40px;
  padding-right:40px;
}

.h-pad-x6{
  padding-left:48px;
  padding-right:48px;
}

.h-pad-x7{
  padding-left:56px;
  padding-right:56px;
}

.h-pad-x8{
  padding-left:64px;
  padding-right:64px;
}

.h-pad-x9{
  padding-left:72px;
  padding-right:72px;
}

.h-pad-x10{
  padding-left:80px;
  padding-right:80px;
}

.v-pad{
  padding-top:8px;
  padding-bottom:8px;
}

.v-pad-x2{
  padding-top:16px;
  padding-bottom:16px;
}

.v-pad-x3{
  padding-top:24px;
  padding-bottom:24px;
}

.v-pad-x4{
  padding-top:32px;
  padding-bottom:32px;
}

.v-pad-x5{
  padding-top:40px;
  padding-bottom:40px;
}

.v-pad-x6{
  padding-top:48px;
  padding-bottom:48px;
}

.v-pad-x7{
  padding-top:56px;
  padding-bottom:56px;
}

.v-pad-x8{
  padding-top:64px;
  padding-bottom:64px;
}

.v-pad-x9{
  padding-top:72px;
  padding-bottom:72px;
}

.v-pad-x10{
  padding-top:80px;
  padding-bottom:80px;
}

.subtitle,.title{
  margin:0;
}

img.responsive{
  width:100%;
  height:auto;
}

.picto{
  width:120px;
  height:120px;
  border-radius:60px;
  position:relative;
  display:inline-block;
  color:#f2eacc;
  background-color:#d6423b;
}
.picto div{
  width:100%;
  height:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position:absolute;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.picto div span{
  -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
  text-align:center;
}
.picto div :first-child{
  font-size:16px;
}
.picto div :last-child{
  font-size:24px;
}
.picto div.rotate{
  -webkit-transform:rotate(-30deg);
          transform:rotate(-30deg);
}
body{
  margin-left:auto;
  margin-right:auto;
  max-width:1440px;
  font-size:16px;
  font-family:Roboto,system-ui,-apple-system,Segoe UI,Ubuntu,Cantarell,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  background-color:#f2eacc;
  background-image:url(/layouts/onlfait/images/background.png);
}

header{
  padding-top:300px;
  background-repeat:no-repeat;
  background-position:center -100px;
  background-image:url(/layouts/onlfait/images/banner.png);
}
header .title{
  padding:16px;
  font-weight:600;
  -ms-flex-item-align:center;
      align-self:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:32px;
  color:#f2eacc;
}
header .menu,header .title{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  background-color:#182722;
}
header .menu{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  font-weight:500;
  font-size:24px;
  margin-top:8px;
}
header .menu-item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  padding:16px;
  color:#f2eacc;
  text-transform:uppercase;
  border-bottom:8px solid #f2eacc;
}
header .menu-item.selected,header .menu-item:hover{
  color:#182722;
  background-color:#d6423b;
}

footer,main{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  background-color:#fff;
}

section{
  padding:16px;
}

@media (min-width:768px){
  .grid .cell.cell-tablet-1{
    -ms-flex-preferred-size:8.33333%;
        flex-basis:8.33333%;
    max-width:8.33333%;
  }
  .grid .cell.cell-tablet-2{
    -ms-flex-preferred-size:16.66667%;
        flex-basis:16.66667%;
    max-width:16.66667%;
  }
  .grid .cell.cell-tablet-3{
    -ms-flex-preferred-size:25%;
        flex-basis:25%;
    max-width:25%;
  }
  .grid .cell.cell-tablet-4{
    -ms-flex-preferred-size:33.33333%;
        flex-basis:33.33333%;
    max-width:33.33333%;
  }
  .grid .cell.cell-tablet-5{
    -ms-flex-preferred-size:41.66667%;
        flex-basis:41.66667%;
    max-width:41.66667%;
  }
  .grid .cell.cell-tablet-6{
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
    max-width:50%;
  }
  .grid .cell.cell-tablet-7{
    -ms-flex-preferred-size:58.33333%;
        flex-basis:58.33333%;
    max-width:58.33333%;
  }
  .grid .cell.cell-tablet-8{
    -ms-flex-preferred-size:66.66667%;
        flex-basis:66.66667%;
    max-width:66.66667%;
  }
  .grid .cell.cell-tablet-9{
    -ms-flex-preferred-size:75%;
        flex-basis:75%;
    max-width:75%;
  }
  .grid .cell.cell-tablet-10{
    -ms-flex-preferred-size:83.33333%;
        flex-basis:83.33333%;
    max-width:83.33333%;
  }
  .grid .cell.cell-tablet-11{
    -ms-flex-preferred-size:91.66667%;
        flex-basis:91.66667%;
    max-width:91.66667%;
  }
  .grid .cell.cell-tablet-12{
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
    max-width:100%;
  }
  header{
    padding-top:400px;
    background-position:top;
  }
  header .title{
    font-size:80px;
  }
  header .menu{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
  }
  header .menu-item{
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
  }
}

@media (min-width:1440px){
  .grid .cell.cell-desktop-1{
    -ms-flex-preferred-size:8.33333%;
        flex-basis:8.33333%;
    max-width:8.33333%;
  }
  .grid .cell.cell-desktop-2{
    -ms-flex-preferred-size:16.66667%;
        flex-basis:16.66667%;
    max-width:16.66667%;
  }
  .grid .cell.cell-desktop-3{
    -ms-flex-preferred-size:25%;
        flex-basis:25%;
    max-width:25%;
  }
  .grid .cell.cell-desktop-4{
    -ms-flex-preferred-size:33.33333%;
        flex-basis:33.33333%;
    max-width:33.33333%;
  }
  .grid .cell.cell-desktop-5{
    -ms-flex-preferred-size:41.66667%;
        flex-basis:41.66667%;
    max-width:41.66667%;
  }
  .grid .cell.cell-desktop-6{
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
    max-width:50%;
  }
  .grid .cell.cell-desktop-7{
    -ms-flex-preferred-size:58.33333%;
        flex-basis:58.33333%;
    max-width:58.33333%;
  }
  .grid .cell.cell-desktop-8{
    -ms-flex-preferred-size:66.66667%;
        flex-basis:66.66667%;
    max-width:66.66667%;
  }
  .grid .cell.cell-desktop-9{
    -ms-flex-preferred-size:75%;
        flex-basis:75%;
    max-width:75%;
  }
  .grid .cell.cell-desktop-10{
    -ms-flex-preferred-size:83.33333%;
        flex-basis:83.33333%;
    max-width:83.33333%;
  }
  .grid .cell.cell-desktop-11{
    -ms-flex-preferred-size:91.66667%;
        flex-basis:91.66667%;
    max-width:91.66667%;
  }
  .grid .cell.cell-desktop-12{
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
    max-width:100%;
  }
  header .title{
    font-size:80px;
  }
  header .menu-item{
    border-bottom:0;
  }
}