// path
$images-path: "/pfm/layouts/onlfait/images";

// images
$background-image: "#{$images-path}/background.png";
$banner-image    : "#{$images-path}/banner.png";

// Breakpoints
$mobile : 480px  !default;
$tablet : 768px  !default;
$desktop: 1440px !default;

// colors
$primary-color  : #D6423B;
$secondary-color: #F2EACC;
$dark-color     : #182722;

$black: #000;
$white: #FFF;

// unit
$unit: 8px;

$unit-x2 : (2 * $unit);
$unit-x3 : (3 * $unit);
$unit-x4 : (4 * $unit);
$unit-x5 : (5 * $unit);
$unit-x6 : (6 * $unit);
$unit-x7 : (7 * $unit);
$unit-x8 : (8 * $unit);
$unit-x9 : (9 * $unit);
$unit-x10: (10 * $unit);

// grid division
$grid-division: 12 !default;
