@mixin grid-cell($label) {
  @for $i from 1 through $grid-division {
    &.#{$label}-#{$i} {
      flex-basis: calc(100% / #{$grid-division} * #{$i});
      max-width: calc(100% / #{$grid-division} * #{$i});
    }
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;

  .cell {
    flex: 1 0 auto;

    @include grid-cell(cell);

    @media all and (min-width: $tablet) {
      @include grid-cell(cell-tablet);
    }

    @media all and (min-width: $desktop) {
      @include grid-cell(cell-desktop);
    }
  }

}
