@mixin grid-cell($label) {
  @for $i from 1 through $grid-division {
    &.#{$label}-#{$i} {
      flex-basis: calc(100% / #{$grid-division} * #{$i});
      max-width: calc(100% / #{$grid-division} * #{$i});
    }
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;

  .cell {
    flex: 1 0 auto;
    
    @include grid-cell(cell);

    // Grid breakpoints
    @media all and (min-width: $grid-sm) {
      @include grid-cell(cell-sm);
    }

    @media all and (min-width: $grid-md) {
      @include grid-cell(cell-md);
    }

    @media all and (min-width: $grid-lg) {
      @include grid-cell(cell-lg);
    }
  }

}
