html, body {
  background-color: #363636;
}

.main-navbar .logo {
  fill: #fff;
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.main-container {
  background-color: #fafafa;
}

/*
.main-navbar {
  background-color: #FF3860;
}

.main-navbar .logo {
  fill: #FFF;
  width: 40px;
  height: 40px;
  margin-top:5px;
  margin-left:10px;
}

.main-navbar .home-link {
  color: #FFF;
  font-weight: bold;
}

.main-navbar .home-link:hover {
  color: #EEE;
}

.main-container {
  background-color: #FFF;
}

@media screen and (min-width: 1024px) {
  .main-navbar .home-link {
    font-size: 1.5em;
  }
}
*/
